.heading {
  text-align: center;
  font-size: 1.5rem;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0% 8%;
}

.flex-container div {
  flex: 20%;
  margin: 0.5%;
}

.flex-top-brand {
  flex: 40%!important;
}