.grey-background {
  background-color: rgb(237, 241, 241);
}

.policy-heading {
  display: flex;
  justify-content: center;
  /* margin-left: 25%; */
  /* align-items: center; */
  color:#3a3a3a;
}

.section {
  border: 1px solid #e1e1e1;
  margin: 20px auto 20px;
  max-width: 82em;
  overflow: hidden;
  padding: 15px;
  background: #fff;
  font-family: 'Inter', sans-serif;
}
.content {
  margin-left: 5px;
  color:#3a3a3a;
}

.para-font-size {
  font-size: 0.9rem;
  color: #3f414d!important;
}