.brand-flex-container {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  justify-content: center;
  text-align: center;
  z-index: 100;
  position: absolute;
  background-color: #fff;
  width: 95%;
  border-radius: 5px;
  border-color: black;
  margin-left: 2%;
  bottom: 0px;
}

.flex-container div {
  flex: 20%;
  align-items: center;
}

.brand-card-color {
  color: #d40353;
}

.brand-para-color {
  color:#3a3a3a;
  justify-content: space-around;
}
.titles-description-sticky {
  border-radius: 3px;
  background: rgba(255,255,255,1 );
  word-wrap: break-word;
  padding: 5px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  max-width: 100%;
  width: auto;
  margin-right: 20px;
  margin-left: 20px;
  box-shadow: 0 2px 3px 0 rgb(0 0 0 / 10%);
  bottom: 10px;
  text-transform: capitalize;
}
.card-title{
  color:#d40353;
}
.card-desc{
  color:black
}