#offer-banner.top-strip-bg {
    height: 50px!important;
    background-size: cover !important;
    background-color: #fc2779;
    background-image: url('../../img/NavBarUpperImg/top-header.jpg');
    background-repeat: no-repeat;
    background-position: center center;
}
.top_strip_wrapper {
    width: 1140px;
    height: 40px;
    margin: 0 auto;
}

.rightDiv ul li a::after {
    content: "";
    width: 1px;
    height: 20px;
    background: #000;
    position: absolute;
    top: 10px;
    margin-left: 13px;
}
.rightDiv a:hover {
    top: -10px;
    background-color: #e23e7d;
    }

svg:not(:root) {
    overflow: hidden;
}
.top_strip_wrapper .ts-text {
    margin-left: 2px;
}

.rightDiv ul li a span {
    font-size: 14px;
    float: left;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.rightDiv ul {
    height: 40px;
}
.leftDiv a {
    color: #000;
    text-decoration: none;
}
.leftDiv {
    vertical-align: middle;
    float: left;
    width: 45%;
    height: 40px;
    margin-bottom: 0px;
    margin-top:9px ;
    overflow: hidden;
    position: relative;
}
.carousel-item{
    display: flex;
    justify-content: center;
}

._logo{
    display: inline-block;
    width: auto;
    height: 40px;
    line-height: 40px;
    margin-top: 4px;
    padding: 0 13px;
}
.rightDiv ul li{
    display: inline-block;
    width: auto;
    height: 40px;
    line-height: 40px;
    margin-top: 4px;
    padding-top: 0 px;
        padding-right: 5px;
        padding-bottom: 0px;
        padding-left: 11px;
 }
 
/* .li{
    padding: 0px 12px;
} */
* ::-webkit-scrollbar-track {
    background: #e1e1e1;
}
.rightDiv ul li a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #000 !important;
    cursor: pointer;
}
.rightDiv ul {
    height: 40px;
}
._product{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    justify-items: center;
    
}
.rightDiv ts-wrap-r{
    margin-left: 40;
}
.top_strip_wrapper {
     width: 1140px; 
     height: 40px;
    margin: 0 auto;
} 
 .rightDiv {
    float: right;
    padding: 0;
    width: 45%;
    height: 40px;
    line-height: 40px;
    text-align: right;
}
.rightDiv ul li a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #000 !important;
    cursor: pointer;
} 
 .container{
    height: 100%;
    width: 100%
}
._slider_nykaa {
    margin-top: 40px;
   
} 

.left-message {
    position: absolute;
    left: 0;
    top: 0;
    animation: slide 2s infinite;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: slide;
}
.left-message {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.1px;
    line-height: 40px;
    border: 0px!important;
}
.rightDiv {
    float: right;
    padding: 0;
    width: 45%;
    height: 40px;
    line-height: 40px;
    text-align: right;
}
.rightDiv ul {
    height: 40px;
}

ul {
    list-style-type: disc;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 11px;
}
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.leftDiv a {
    color: #000;
    text-decoration: none;
}
.slick-list{
    padding: 0px !important;
} 
._black{
    color:black;
    font-weight:bold ;
  }
  .rightDiv ul li a::after {
    content: "";
    width: 1px;
    height: 25px;
    background: rgb(22, 21, 21);
    position: absolute;
    top: 10px;
    margin-left: 9px;
}