._logo{
    width:80px;
     height:40
}
._Search{
    margin-left:150px;
     margin-top:12px;
    
}
._Account{
    margin-left:0px;
   padding: 0px 10px;
    overflow: hidden;
 
}
._Bag{
    margin-top:14px
}

/* -------------------Lower NavBar CSS Starts-------------------------- */
.middle-navbar {
  overflow: hidden;
  background-color: #FFF;
  border-top: 2px solid rgb(160, 155, 155);
  border-bottom: 2px solid rgb(160, 155, 155);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  width: 100%;
  transition: top 0.6s ease 0.6s;
  justify-content: space-around;
  padding-left: 1%;
  padding-right: 2%;
}

.middle-dropdown {
  /* padding: 0px 10px; */
  overflow: hidden;
}

.middle-dropdown .middle-dropbtn {
  font-size: 20px; 
  font-weight: 1rem; 
  border: none;
  outline: none;
  color: rgb(105, 104, 104);
  padding: 14px 0px;
  background-color: inherit;
  font: inherit;
  margin: 0;
}

.middle-dropdown:hover .middle-dropbtn {
  background-color: #f9f9f9;
  color: rgb(233, 15, 117);
  transition: 0.2s ease;
  border-bottom: 5px solid rgb(233, 15, 117);
}

.middle-dropdown-content {
  display: none;
  justify-content: center;
  position: absolute;
  background-color: #fff;
  width: 90%;
  left: 5%;
  z-index: 1;
}

.middle-dropdown-content .middle-header {
  background-color: #FFF;
  padding: 6px;
  color: rgb(0, 0, 0);
}

.middle-dropdown-content-color {
  background: rgb(238, 234, 234);
}
.cart_innerWrapper {
  /* height: max-content; */
  max-height: 100%;
  overflow-y:scroll;
  height: 100%;
  width: 100%;
}
.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:visited {
  background-color: #FC2779 !important;
  border-color: #FC2779 !important;
 
}

.middle-dropdown:hover .middle-dropdown-content {
  display: flex;
}

.middle-column {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 10px;
}
.gift{
  place-content: center;
  display: flex;
  margin-top: 20px;
}
._arrow{
  color:rgb(233, 15, 117) !important;

}
.CartItem_button{
  padding:4px 8px;
  margin-left: auto;
  border-radius: 4px;
  border:none;

}
.CartItem_item{
  padding:16px 10px;
  margin-left: auto;
  border-radius: 4px;

}

._shop{
  margin-left: 30%;
}
.lower-navbar_{
  overflow: hidden;
  background-color: #ffffff;
  /* padding: 14px 6px; */
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffffff;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  width: 100%;
  transition: top 0.6s ease 0.6s;
  
}
.middle-column a {
  color: rgb(153, 147, 147);
  width: 100%;
  text-decoration: none;
}

.middle-column a:hover {
  color:rgb(233, 15, 117);
}

.middle-row {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 10px;
}
/* ._inner_wrapper{
  max-height: 10vh;
  height: max-content;
  overflow-y: auto;
} */
/*  */
.cart_Wrapper_{
  position: fixed;
  top:105px;
  right:20px;
  padding:-3rem 2rem;
  z-index: 40;
  height: 100%;
  border-radius: 1%;
  border:1px solid gray;
  background-color: white;

}
.navbar_cart{
  overflow: hidden;
  background-color: #FFF;
  /* padding: 14px 6px; */
  border-top: 2px solid rgb(160, 155, 155);
  border-bottom: 2px solid rgb(160, 155, 155);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  width: 100%;
  transition: top 0.6s ease 0.6s;
  justify-content: space-around;

}

.cart_cartTotal{
  margin-top:10px;
  display:flex ;
  justify-content: space-between;
}
.fa-times-circle{
  color:grey;
  transition:transform 0.2s linear
}
.fa-times-circle:hover{
  transform:rotate(90deg)
}
/* ---------------------Lower NavBar CSS Ends----------------------*/
._middle1 {
  margin-right: 2rem;
  margin-top:10px
}

._middle2 {
  margin-left: 100px;
  margin-top:10px
}

._middle3 {
  height:150px;
    width:240px;
    margin-left:100px;
    margin-top:10px
}

  ._btn_ {
    margin-left: 11%;
    margin-right: 1%;
    padding: 1% 0.8%;
    border: none;
    border-radius: 2px;
    background-color: #d1d1d1;
    color: #2f2f2f;
  }

  ._btn_:hover {
    background-color: rgb(233, 15, 117);
    color: #fff;
  }

  .myAccount {
    background-color: #fff;
    border: none;
  }

  .middle-link {
    color: #000;
    text-decoration: none;
  }
  
  ._img_{
     margin-left: 75px;
  } 
  ._search{
    margin-top: 10px;
  }
  ._searching{
    display: flex;
  }

  .dropdown_Btn{
    display: flex;
    flex-direction: column;
  }
    
.input-icons {
  width: fit-content;
  height: fit-content;
  position: relative;
}
   
.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  outline: none;
  position: absolute;
  right: 0px;
  color:#ffffff ;
  background-color:transparent;
}

.icon {
  padding-top: 1%;
}

.search-container {
  display: flex;
  justify-content: right;
  margin-top: 4%;
  border: none;
}

.search-container button {
  padding: 0.7px 10px;
  background: #fff;
  font-size: 17px;
  border: 2px solid #f2f2f2;
  cursor: pointer;
}

.search-container input {
  border: 1px solid #f2f2f2;
  width: 50%;
}
.cart_icon{
  height: 10px;
  width: 10px;
  margin-top: 15px;
}

._black {
  display: flex;
  justify-content: space-around;
  color:black;
  font-weight: 800;
}
._cart_Items{
  display: flex;
  margin-left: 4px;

}
.item_count{
  background-color: rgb(220, 43, 20);
  position: absolute;
  border-radius: 50%;
  z-index:10;
  height:14px;
  width:14px;
  margin-top: -30px;
  margin-left: 6px;
  font-size: 10px;
  place-items: center;
  display: flex;


}
/* -------------------Beauty Advice CSS Starts Here-------------------- */
.advice-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
}

.advice-section {
  flex: 33%;
  margin: 2%;
  /* margin: 2%; */
}

/* -------------------Beauty Advice CSS Ends Here-------------------- */
