.card-flex {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  text-align: center;
}

.card-color {
  color: #d40353;
}

.para-color {
  color:#3a3a3a;
  justify-content: space-around;
}
