.grey-background {
  background-color: rgb(237, 241, 241);
}

.terms-condition-heading {
  display: flex;
  justify-content: center;
  color:#3a3a3a;
}

.section {
  border: 1px solid #e1e1e1;
  margin: 20px auto 20px;
  max-width: 82em;
  overflow: hidden;
  padding: 15px;
  background: #fff;
  font-family: 'Inter', sans-serif;
}
.content {
  margin-left: 20px;
  color:#3a3a3a;
}

.para-font-size {
  font-size: 0.9rem;
  color: #3f414d!important;
}

.para-font-size a {
  color: #d40353;
  text-decoration: none;
}

.para-font-size a:hover {
  text-decoration: underline;
}

.list-marging {
  margin-left: 5px;
}