.lower-navbar {
  overflow: hidden;
  background-color: #FFF;
  /* padding: 14px 6px; */
  border-top: 2px solid rgb(160, 155, 155);
  border-bottom: 2px solid rgb(160, 155, 155);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  width: 100%;
  transition: top 0.6s ease 0.6s;
  justify-content: space-around;
}

.lower-dropdown {
  padding: 0px 16px;
  overflow: hidden;
}

.lower-dropdown .lower-dropbtn {
  font-size: 20px; 
  font-weight: 1rem; 
  border: none;
  outline: none;
  color: rgb(105, 104, 104);
  padding: 14px 0px;
  background-color: inherit;
  font: inherit;
  margin: 0;
}

.lower-dropdown:hover .lower-dropbtn {
  background-color: #f9f9f9;
  color: rgb(233, 15, 117);
  transition: 0.2s ease;
  border-bottom: 5px solid rgb(233, 15, 117);
}

.lower-dropdown-content {
  display: none;
  justify-content: center;
  position: absolute;
  background-color: #fff;
  width: 90%;
  left: 5%;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
}

.lower-dropdown-content .lower-header {
  background-color: #FFF;
  padding: 6px;
  color: rgb(0, 0, 0);
}

.lower-dropdown-content-color {
  background: rgb(238, 234, 234);
}

.lower-dropdown:hover .lower-dropdown-content {
  display: flex;
}

/* Create six equal columns that floats next to each other */
.lower-column {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 10px;
  /* background-color: #ccc; */
}

.lower-column a {
  color: rgb(153, 147, 147);
  width: 100%;
  text-decoration: none;
}

.lower-column a:hover {
  color:rgb(233, 15, 117);
}

/* Clear floats after the columns */
.lower-row {
  display: flex;
  flex-wrap: wrap;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .lower-column {
    width: 100%;
    height: auto;
  }
}
