 
._heart{
    color:#FC2779 ;
    margin-left:10px;
    outline-style: none;
    outline-color: white;
    font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  -webkit-letter-spacing: 0.1px;
  -moz-letter-spacing: 0.1px;
  -ms-letter-spacing: 0.1px;
  letter-spacing: 0.1px;
  color: #fc2779;
  width: 25%;
  background: #FFFFFF;
  border-top: 1px solid #ebebeb;
  height: 100%;
  border-width: 1px 0 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer; 
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
    
}

.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:visited {
  background-color: #FC2779 !important;
  border-color: #FC2779 !important;
 
}
.cart_innerWrapper {
    /* height: max-content; */
    max-height: 100%;
    overflow-y:scroll;
    height: 100%;
    width: 100%;
  }
  .lower-navbar {
    overflow: hidden;
    background-color: #FFF;
    /* padding: 14px 6px; */
    border-top: 2px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    width: 100%;
    transition: top 0.6s ease 0.6s;
    justify-content:start;
  }

  .heartBtn{
    margin-top: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    display:flex;
    align-items:center;
    
}
.card-title_{
  text-align: center;
  color: black ;
}
.card-text_{
  text-align: center;
  color:black;

}

.button_{
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  -webkit-letter-spacing: 0.1px;
  -moz-letter-spacing: 0.1px;
  -ms-letter-spacing: 0.1px;
  letter-spacing: 0.1px;
  width: 75%;
  background: #fc2779;
  color: #FFFFFF;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: none;
  cursor: pointer;

}