.container-one {
  display: flex;
  align-content: space-around;
  background-color: #3f414d;
  color: #fff;
  padding-bottom: 2%;
}

.flex-item {
  flex: 33%;
  padding: 1% 3%;
}

.flex-item div {
  flex: 50%;
  margin-top: 6%;
}

.icon {
  margin-right: 1px;
}

.input {
  background-color: #3f414d;
  color:#3f415e;
  border:none;
  border-bottom: 1px solid white;
}

.footer-button {
  background-color: #3f414d;
  color:#fff;
  font-size: 0.9rem;
  margin-left: 5%;
  border-radius: 3px;
  border: 1px solid #fff;
  padding: 5px;
}

.container-two {
  background-color: #8c8d94;
  padding: 0px 45px;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  color:#fff;
  padding: 4% 0%;
}

.flex-item-two {
  flex:16%;
  list-style-type:none;
  padding: 0px 10px;
}

.flex-item-two li {
  color:#fff;
  font-size: 1rem;
  margin: 10px;
}

.list-element {
  color:#fff;
  font-size:0.9rem;
  margin: 10px;
}

.container-three {
  display: flex;
  justify-content: space-between;
  background-color: #f3f3f3;
  padding: 2%;
}

.flex-item-three {
  padding: 2%;
}

.flex-item-three div {
  width: 100%;
}

.img-container {
  width: 3.5rem;
  height: auto;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

.container-four {
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: rgb(233, 15, 117);
  padding: 2%;
  color:#fff;
}

.container-four div {
  margin-top: 1%;
  align-items: center;
}


