.grey-background {
  background-color: rgb(237, 241, 241);
  padding-top: 5rem;
}

.app-user-view {
  margin-right: 28rem;
  margin-left: 28rem;
}

.SignUp-card-width {
  background-color: #fff;
  border-radius: 20px;
}

.card-icon {
  margin-top: 0.8rem;
  margin-left: 1.5rem;
  color:#000;

}

.sign-up-heading {
  font-size: 2rem;
  font-weight: 600;
}

.card-content {
  margin-left: 2rem;
  margin-right: 2rem;
}

.img-size {
  width: 20rem;
}

.button {
  color:rgb(245, 170, 193);
  width: 100%;
  border-radius: 4px;
  justify-content: center;
  border-width:0;
  background-color: #fc2779!important;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: .28px;
  padding: 8px 6px;
  margin-top: 10px;
}

.SignUp-link {
  text-decoration: none;
  color:rgb(245, 170, 193);
}

.SignUp-link:hover {
  text-decoration: none;
  color:#fff;
}

.google-button {
  background-color: #fff;
  width: 100%;
  font-size: 18px;
  padding: 8px 16px;
  border: 1px solid rgb(192, 187, 187);
  border-radius: 4px;
  justify-content: center;
  margin-top: 10px;
}

.anchor {
  text-decoration: none;
  color: #fc2779;
}

/* ------------ScreenEmailInput CSS------------------ */

.header {
  display: flex;
}

.header div {
  justify-content: space-between;
}

.form {
  padding: 5%;
}

.input-field {
  border: 1px solid #f2f2f2;
  width:100%;
  margin: 2% 0%;
  border-radius: 5px;
}

.sign-up-submit {
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  background-color: #fc2779;
  color: #f2f2f2;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 2%;
}
